@use "styles/mixins";

.container {
  --gap: 20px;

  display: grid;
  gap: var(--gap);
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  padding: var(--gap);

  @include mixins.sm-up {
    margin: 0 auto;
    max-width: 550px;
  }

  @include mixins.md-up {
    max-width: 650px;
  }

  @include mixins.lg-up {
    max-width: 800px;
  }
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  align-items: flex-end;
  display: flex;
  grid-area: footer;
}
