@use "styles/mixins";

.root {
  --gap: 10px;

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;

  @include mixins.sm-up {
    grid-template-columns: repeat(5, 1fr);
    margin: 0 auto;
    max-width: 550px;
  }

  @include mixins.md-up {
    grid-template-columns: repeat(6, 1fr);
    max-width: 650px;
  }

  @include mixins.lg-up {
    grid-template-columns: repeat(7, 1fr);
    max-width: 800px;
  }
}

.padsItem {
  margin: 0;
  padding: 0;
  width: 100%;
}
