.root {
  --gap: 20px;

  background-color: var(--grey-01);
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: var(--gap);
}

.padsItem {
  margin: 0;
  padding: 0;
  width: 100%;
}

.pad {
  width: 100%;
}
