@mixin button-reset {
  appearance: none;
  background: transparent;
  border-style: none;
  cursor: pointer;
  font-weight: normal;
  outline: 0 none transparent;
  padding: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  user-select: none;
  white-space: nowrap;
  width: auto;

  &:hover {
    background: transparent;
  }

  &:active {
    background: transparent;
  }

  &:disabled {
    cursor: default;
  }
}

@mixin xsm-up {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin sm-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin md-up {
  @media (min-width: 1000px) {
    @content;
  }
}

@mixin lg-up {
  @media (min-width: 1200px) {
    @content;
  }
}
