@use "styles/mixins";

.root {
  @include mixins.button-reset;

  border-radius: 4px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 100px;
}

.front {
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.img {
  display: block;
  height: 100%;
  width: 100%;
}

.name {
  background: white;
  font-size: 12px;
  left: -18%;
  position: absolute;
  top: 25%;
  transform: rotate(-45deg);
  width: 100%;
}
