@use "styles/mixins";

@keyframes in {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(-25%, 0, 0);
  }
}

@keyframes wave {
  0% {
    transform: translate3d(-25%, 0, 0);
  }

  100% {
    transform: translate3d(0%, 0, 0);
  }
}

@keyframes pulse {
  0% {
    color: var(--grey-02);
  }

  100% {
    color: white;
  }
}

.root {
  --pulse-duration: 0.5s;

  @include mixins.button-reset;

  &.pink {
    --color-light: var(--pink-01);
    --color-dark: var(--pink-03);
  }

  &.yellow {
    --color-light: var(--yellow-01);
    --color-dark: var(--yellow-02);
  }

  &.teal {
    --color-light: var(--teal-01);
    --color-dark: var(--teal-02);
  }

  align-items: flex-end;
  aspect-ratio: 1/1;
  border: 2px solid var(--color-dark);
  border-radius: 15px;
  color: var(--grey-03);
  cursor: pointer;
  display: flex;
  hyphens: auto;
  overflow: hidden;
  padding: 0 5px 5px;
  position: relative;
  text-align: left;
  user-select: none;
  vertical-align: middle;
  white-space: initial;
  width: 100%;

  &:hover {
    border-color: var(--color-light);
    color: var(--grey-02);
  }

  &.isPlaying {
    animation: pulse var(--pulse-duration) ease alternate infinite;
    border-color: var(--color-light);
  }

  &.isEmpty {
    border-color: var(--grey-04);
    cursor: initial;
  }
}

.waves {
  left: 0;
  position: absolute;
  top: 10px;
  width: 100%;
}

.flatWave {
  background-color: var(--color-dark);
  border: unset;
  height: 1px;
  left: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-2px);
  width: 100%;

  .root.isPlaying &,
  .root:hover & {
    background-color: var(--color-light);
  }
}

.soundWave {
  background-color: var(--grey-06);
  color: var(--color-dark);
  transform: translate3d(100%, 0, 0);
  width: 200%;

  .root.isPlaying & {
    animation: in 0.75s linear forwards, wave 0.25s linear 0.75s infinite forwards;
    color: var(--color-light);
  }
}

.title {
  position: relative;
  z-index: 2;
}

.figure {
  aspect-ratio: 1/1;
  display: none;
  width: 100%;
}

.img {
  display: block;
  height: 100%;
  pointer-events: none;
  user-select: none;
  width: 100%;
}

.name {
  display: none;
}
